/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1760px) {
.menu ul li{
	margin:0 10px; 
}
.top-bar{
	font-size: 18px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px) {
.top-bar{
	font-size: 16px;
}
}
@media only screen and (max-width: 1024px){

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 812px) {
.banner-callback h2{
	margin: 0;
	margin-bottom: 10px;
	letter-spacing: 0;
}
.banner-callback{
	display: block;
	padding: 20px;
	box-sizing: border-box;
}
.grid-3, .grid-2, .grid-4{
	display: grid!important;
	grid-template-columns: 1fr!important;
	grid-row-gap: 30px;
}
.menu, .social-link, .top-bar_items, .homepage-text-contact h2 img{
	display: none;
}
.mob_menu_container .menu, .mob_menu_container .social-link{
	display: block;
	text-align: center;
}
.mob_menu_container .menu ul li{
	display: block;
	margin-bottom: 20px;
}
.mob_menu_container .menu ul li a{
	color:#fff;
}
.mob_menu, .search{
	display: inline-block;
}
.content-footer_item.logo ul li{
	margin-right: 20px;
}
.slide .afisha_item:nth-child(2){
	top:0;
}
.logo img{
	height: 70px;
}
	.sekcii-item{
		height:60vh;
	}
.center-bar_items{
	min-height: 100px;
}
.top-bar{
	min-height: 90px;
}
.center-bar{
	top:15px;
}
.sekcii-item{
	font-size: 28px;
}
.grid-gallery{
	grid-template-columns: 1fr;
	grid-row-gap: 0;
}
.gallery-text{
	margin-bottom: 30px;
}
h2{
	font-size: 30px;
}
.contacts-item h4{
	font-size: 18px;
}
.contact_palata{
	margin: 0 0 50px;
	padding: 20px; 
}
	.content-footer_item.logo ul{
		text-align:center;
	}
	.content-footer_item.logo .version{
		text-align:center;
	}
	.docs-priema-text:after, .tabs:after{
		display:none;
	}
	input{
		padding:0 20px;
		height:65px;
		font-size:18px;
	}
	textarea{
		padding:20px;
		font-size:18px;
	}
	.contacts-callback{
		padding:20px;
	}
	#map{
		min-height:400px;
	}
	.scroll-to-top{
		display:block;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.banner-callback{
		text-align:center;
	}
.sekcii-item{
		height:40vh;
	}
	.gallery-text .gradient-btn {
    margin-top: 20px;
    padding: 15px 20px;
}
	.gallery-text{
		padding:20px;
	}
	h2 {
    font-size: 26px;
}
	.page-title-center{
		padding:20px 0; 
	}
	.tab:after {
    right: 20px;
    top: 0;
		margin:0;
}
	.docs-priema-text p{
		font-size:16px;
	}
	.docs-container{
		font-size:18px;
	}
	.href_contact_palata{
		text-align:left
	}
	.href-item{
		height:100vw;
		max-height:400px;
	}
	.content-single h3{
		font-size:24px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {
.sekcii-item{
	font-size: 24px;
}
	.docs-container{
		font-size:16px;
	}
}
