/*
Theme Name: planet
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
	margin: 0;
	padding: 0;
  outline: none;
}
body {
  font-family: 'Roboto', sans-serif!important;
  font-size: 18px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; 
  overflow-x:hidden;
  color: #000;
  background:#fff;
  font-weight: 500;
	letter-spacing: 0.05em;
}
a{
	color:#000;
	text-decoration: none;
}
a:hover{
	color:#000;
}
img{
	max-width: 100%;
}
.hidden{
	display: none;
}
header .container, footer .container, .homepage .container{
	width: 90%;
	max-width: 1640px;
	margin:0 auto;
}
.container{
	width: 90%;
	max-width: 1600px;
	margin:0 auto;
}
.container-1200{
	width: 90%;
	max-width: 1200px;
	margin:0 auto;
}
h2{
	font-weight: 900;
	font-size: 38px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #632786;
	margin-bottom: 30px;
}
h2 span{
	color: #FF7017;
}
h3{
	font-weight: 900;
font-size: 24px;
line-height: 136%;
letter-spacing: 0.05em;
text-transform: uppercase;
margin-bottom: 20px;
color: #262626;
}
.grid-3{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 30px;
	align-items: center;
	grid-row-gap: 30px;
}
i{
	margin-right: 15px;
}
.gradient-btn{
	background: linear-gradient(91.57deg, #9B0761 -1.34%, #632785 99.47%), #C4C4C4;
	border-radius: 39px;
	display: inline-block;
	padding: 15px 20px;
	font-size: 22px;
	font-weight: 500;
	color: #fff;
	transition: .5s;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.gradient-btn:after{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: block;
	z-index: -1;
	background: linear-gradient(91.57deg, #9B0761 -1.34%, #DF64D6 53.79%, #632785 99.47%), #C4C4C4;
	opacity: 0;
	transition: .5s;
}
.gradient-btn:hover{
	color:#fff;
}
.gradient-btn:hover:after{
	opacity: 1;
}
.white-btn, a.bvi-link-shortcode{
	background: #F2EDF7!important;
box-shadow: 0px 2px 4px rgba(247, 245, 251, 0.34)!important;
border-radius: 39px!important;
display: inline-block!important;
text-align: center!important;
padding:10px 50px!important;
color: #980A64!important;
font-weight: 900!important;
line-height: 21px!important;
}
html body a.bvi-link-shortcode .bvi-svg-eye{
	display:none!important;
}


.hr-grad{
	height: 11px;
	width: 170px;
	position: relative;
	margin-bottom: 30px;
}
.hr-grad:before{
	content: '';
	width: 29px;
	background: linear-gradient(89.22deg, #5F2787 0.61%, #9E035D 95.99%), #C4C4C4;
	border-radius: 29px;
	height: 11px;
	left: 0;
	display: block;
	position: absolute;
}
.hr-grad:after{
	content: '';
	width: 131px;
	background: linear-gradient(90deg, #9D055F 0%, #612786 100%), #C4C4C4;
	border-radius: 29px;
	height: 11px;
	right: 0;
	display: block;
	position: absolute;
}
/*header*/
.top-bar{
	min-height: 175px;
	background: linear-gradient(270deg, #A1015A 0%, #5B2889 100%), #FFFFFF;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	color:#fff;
}
.top-bar a{
	color: #fff;
	display: block;
}
.top-bar_items{
	padding:10px 0;
}
.top-bar_items .grid-3, .contacts-container .grid-3{
	display: flex;
	justify-content: space-between;
}
.top-bar_items .time-work{
	text-align: right;
}
.center-bar{
	position:absolute;
	top: 75px;
	width:100%;
	z-index: 999;
}
.center-bar_items{
	background: #FFFFFF;
box-shadow: 0px 3px 16px rgba(119, 25, 119, 0.84);
min-height: 150px;
display: flex;
align-items: center;
justify-content: space-between;
padding:0 25px; 
}
.menu a{
	color: #323232;
	position: relative;
}
.menu ul li{
display: inline-block;
text-transform: uppercase;
font-weight: 900;
margin: 0 25px;
}
.menu ul li a:before{
content: '';
display: block;
position: absolute;
width: 10px;
height: 4px;
background: linear-gradient(89.22deg, #5F2787 0.61%, #9E035D 95.99%), #C4C4C4;
border-radius: 29px;
bottom: -10px;
left: 0;
opacity: 0;
transition: .5s;
}
.menu ul li a:after{
	content: '';
	display: block;
	position: absolute;
	width: calc(100% - 14px);
	height: 4px;
	background: linear-gradient(90deg, #9D055F 0%, #612786 100%), #C4C4C4;
	border-radius: 29px;
	bottom: -10px;
right: 0;
opacity: 0;
transition: .5s;
}
.menu ul li a:hover:before, .menu ul li a:hover:after,.menu ul .current-menu-item a:after, .menu ul .current-menu-item a:before{
	opacity: 1;
}
.social-link ul li{
	display: inline-block;
	margin:0 5px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border-radius: 50%;
	position: relative;
	background: linear-gradient(90deg, #632785 0%, #9C0660 100%), #C4C4C4;
	overflow: hidden;
}
.social-link ul li.facebook:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	opacity: 0;
	transition: .5s;
	background: #3063AE;
	display: block;
}
.social-link ul li.instagram:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	opacity: 0;
	transition: .5s;
	background: linear-gradient(180deg, #7F4BAD 0%, #BD327F 53.02%, #FBB662 100.78%), #C4C4C4;
	display: block;
}
.social-link ul li.youtube:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	opacity: 0;
	transition: .5s;
	background:#FF0000;
	display: block;
}
.social-link ul li:hover:after{
	opacity: 1;
}
.social-link ul li a{
	color:#fff;
	font-size: 18px;
	text-align: center;
	position: relative;
	z-index: 2;
	display: block;
}
.social-link ul li a i{
	margin-right: 0;
}
.search{
	margin-left: 25px;
}
.search a{
	font-size: 27px;
	color:#323232;
}
.banner img{
	width: 100%;
	height: auto;
}
.mob_menu{
	display:none;
	font-size: 30px;
}
header .logo{
	width: 7%;
	min-width:70px;
}
/*footer*/
footer{
	min-height: 435px;
	background-image:url(img/footer-bg1.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center; 
	background-color: #140839;
	padding-bottom: 60px; 
}
.banner-callback{
	width:90%;
	max-width: 1275px;
	min-height: 150px;
	margin: auto;
	background: #FFFFFF;
box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.13); 
position: relative;
display: flex;
align-items: center;
justify-content: center;
top: -75px;
}
.banner-callback h2{
	margin-right: 100px;
	margin-bottom: 0;
}
.banner-callback:after{
	content: '';
	width: 90%;
	background: rgba(237, 237, 237, 0.69);
	height: 20px;
	display: block;
	left: 5%;
	position: absolute;
	bottom: -20px;
}
.content-footer .grid-3{
	align-items: start;
	letter-spacing: 0;
}
.content-footer_item a{
	color:#fff;
}
.content-footer_item h3.footer-title{
	color:#fff;
	font-size: 24px;
	margin-bottom: 25px;
	font-weight: 900;
	position: relative;
	display: inline-block;
	z-index: 9;
	text-transform: none;
}
.content-footer_item h3.footer-title:before{
	content: '';
	display: block;
	background: #030E47;
	height: 20px;
	position: absolute;
	width: 100%;
	top: 10px;
	left: 10px;
	z-index: -1
}
.content-footer_item .footer-title-block{
	position: relative;
}
.content-footer_item .footer-title-block hr{
	position: absolute;
	width: 100%;
	border:none;
	height: 1px;
	background: rgba(255, 255, 255, 0.24);
	position: absolute;
	top: 17px;

}
.content-footer_item.footer-menu ul li{
margin-bottom: 10px;
	}
	.content-footer_item.footer-menu ul li a{

transition: .5s;
	}
	.content-footer_item.footer-menu ul li::marker{
		color:#fff;
transition: .5s;
	}
	.content-footer_item.footer-menu ul li:hover a, .content-footer_item.footer-menu ul li:hover::marker, .content-footer_item.footer-menu ul li.current-menu-item a, .content-footer_item.footer-menu ul li.current-menu-item::marker{
		color: #FF9654;
	}
	.content-footer_item.footer-menu ul li:hover a, .content-footer_item.footer-menu ul li.current-menu-item a{
		text-decoration: underline;
	}
.content-footer_item.contacts ul li{
	margin-bottom: 20px;
	list-style-type: none;
	font-weight: 400;
}
.content-footer_item.logo ul li{
display: inline-block;
margin-right: 50px;
	}
	.version{
		margin-top: 30px;
	}
	/*main*/
section:last-child{
padding-bottom:155px; 
	}
/*homepage*/
.homepage{
	background: url(img/homepage_bg.png);
	background-size: cover;
	background-position: center;
}
.homepage{
	padding-top: 80px;
}
.homepage-text-contact{
	margin-top: 100px;
}
.homepage-text-contact h2{
	position: relative;
}
.homepage-text-contact h2 img{
	    position: absolute;
    width: 190px;
    height: auto;
    left: -140px;
    top: -80px;
}
.homepage-text-about{
	width: 100%;
	max-width: 895px;
}
.homepage-text-contact{
	width: 100%;
	max-width: 745px;
	margin-right: 0;
    margin-left: auto;
}
.homepage-text-about p{
	font-size: 26px;
}
.homeslider{
	overflow: hidden;
}
.homeslider .owl-dots{
	width: 48%;
	margin-right: 0;
	margin-left: auto;
	text-align: center;
	position: relative;
	top: -100px;
}
.slide img{
	width: 100%;
	height: auto;
}
.slide .afisha_item:nth-child(2){
	position: relative;
	top: 400px;
}
.maps img{
	width: 100%;
}
#map{
	width: 100%;
	height: 100%;
	min-height: 650px;
}
#map a:hover{
	text-decoration:underline;
}
	/*docs*/
	.page-title-center{
		text-align: center;
		padding:80px 0; 
	}
	.page-title-center h2{
		margin-bottom: 0;
	}
	.page-title-center .hr-grad{
		margin-right: auto;
		margin-left: auto;
	}
	.grid-2{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 30px;
		grid-row-gap: 30px;
		align-items: center;
	}
	.docs-container{
		font-size: 24px;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;
	}
	.docs-container .docs-item{
		display: grid;
		background: #F5F5FD;
box-shadow: 0px 2px 2px rgba(49, 49, 49, 0.13);
border-radius: 15px;
width: 100%;
height: 100%;
align-items: center;
box-sizing: border-box;
padding:20px 45px; 
transition: .5s;
	}
	.docs-container .docs-item a{
		color: #262626;
		display: grid;
		width:100%;
		transition: .5s;
	}
	.docs-container .docs-item:hover{
		background: linear-gradient(100.35deg, #602787 38.85%, #9D045F 64.71%), #F5F5FD;
box-shadow: 0px 2px 2px rgba(49, 49, 49, 0.13);
	}
	.docs-container .docs-item:hover a{
		color:#fff;
	}

	/*sekcii*/
	.sekcii-container{
		background-image: url(img/sekcii_bg.png);
		background-size: 90%;
		background-position: center;
		background-repeat: no-repeat;
	}
	.sekcii-item{
		background-color: #FFFFFF;
box-shadow: 0px 2px 9px #5E2788;
border-radius: 15px;
height: 450px;
display: grid;
font-weight: 900;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.05em;
text-transform: uppercase;
background-position: center;
background-size: 100%;
background-repeat: no-repeat;
	}
.sekcii-item a{
	color: #5E2788;
	background: #F5F5FD;
	display: grid;
	align-items: center;
	text-align: center;
	height: 100%;
	transition: .5s;
	opacity: 0;
	padding:0 50px;
}
.sekcii-item:hover a{
	opacity: 1
}

/*gallery*/
.grid-gallery{
	display: grid;
	grid-template-columns: 340px 1fr;
	grid-gap: 30px;
}
.gallery-text{
	padding:40px;
	background: #FFFFFF;
box-shadow: 0px 2px 9px rgba(49, 49, 49, 0.13);
border-radius: 15px;
font-weight: 400;
}
.gallery-text .gradient-btn{
	margin-top: 20px;
	padding:15px 40px; 
}
.gallery-image{
border-radius: 15px;
position: relative;
background-size: cover;
min-height: 200px;
background-position: center;
}
.gallery-image:before{
content: '';
display: block;
position: absolute;
width: 11px;
height: 29px;
left: 0;
top: 0;
background: linear-gradient(89.22deg, #5F2787 0.61%, #9E035D 95.99%), #C4C4C4;
border-radius: 29px;
z-index: 99;
}
.gallery_image{
	height: 350px;
	box-shadow: 0px 0px 13px rgba(245, 245, 253, 0.62);
border-radius: 15px;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.gallery{
	margin-top:20px;
}
.gallery-image:after{
	content: '';
display: block;
width: 11px;
position: absolute;
left:0;
bottom:0;
background: linear-gradient(90deg, #9D055F 0%, #612786 100%), #C4C4C4;
border-radius: 29px;
height: calc(100% - 39px);
z-index: 99;
}
.gallery-image a{
	background: #F5F5FD;
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	text-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity:0;
	transition: .5s;
}
.gallery-image a:hover{
	opacity: 1;
}
.gallery-image a span{
	width: 54px;
	height: 54px;
	font-size: 29px;
	line-height: 54px;
	color: #632785;
	border:3px solid #632785;
	border-radius: 50%;
	text-align: center;
	margin: auto;
}


/*href*/
.href-item{
	background-color: #F5F5FD;
border-radius: 15px;
height: 455px;
position: relative;
background-size: cover;
background-position: center;
}
.href-item a{
	position: absolute;
	display: grid;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-weight: 900;
font-size: 36px;
line-height: 42px;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
background-color: #F5F5FD;
color: #632786;
opacity: 0;
transition: .5s;
}
.href-item a:hover{
	opacity: 1;
}
/*about*/
.about-href{
	background-image: url(img/about-href.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #F5F5FD;
	padding-top: 80px;
}
.grid-4{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	align-items: center;
}
.about-href-item{
	text-align: center;
	font-weight: 900;
font-size: 24px;
line-height: 28px;
margin: auto;
letter-spacing: 0.05em;
color: #FFFFFF;
height: 262px;
width: 262px;
border-radius: 50%;
background: linear-gradient(180deg, #9A0862 0%, #682583 100%), #140839;
transition: .5s;
position: relative;
}
.about-href-item a{
	color: #fff;
	position: absolute;
	display: grid;
align-items: center;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 50%;
transition: .5s;
}
.about-href-item:hover{
	background: #FFFFFF;
box-shadow: 0px 4px 11px #6B2482;
}
.about-href-item:hover a{
	color: #632785;
}

.about-team-item-text{
	padding:15px 40px; 
}
.about-team-item-text h4{
	font-weight: 700;
font-size: 21px;
line-height: 25px;
align-items: center;
letter-spacing: 0.05em;
color: #000000;
}
.doljnost{
	color: rgba(0, 0, 0, 0.53);
	font-size: 14px;
	min-height: 40px;
	margin: 5px 0;
}
.about-team-item{
background: #FFFFFF;
box-shadow: 0px 2px 9px rgba(49, 49, 49, 0.13);
border-radius: 15px;
height: 100%;
}
section{
	padding-bottom: 80px;
}
.about-team-item-img{
	background: #F5F5FD;
	text-align: center;
	padding:20px; 
	height: 250px;
	display: grid;
	align-items: center;
	justify-content: center;
}
.about{
	padding-top:80px;
	background: url(img/about-page.png);
	background-position: right;
	background-size: cover;
}
.about p{
	margin-bottom: 30px;
}
.phone_team{
	display: grid;
	grid-template-columns: 32px 1fr;
	grid-column-gap: 10px;
	justify-content: center;
}
.phone_team_icon{
	border-radius: 50%;
	background: linear-gradient(124.51deg, #682583 12.73%, #950B66 100%), #C4C4C4;
	color: #fff;
	height: 32px;
	text-align: center;
	line-height: 32px;
	font-size: 14px;
}
.phone_team_icon i{
	margin: 0;
}
.phone_team_number{
	background: #F5F5FD;
border-radius: 22px;
text-align: center;
font-size: 14px;
line-height: 32px;
font-weight: 400;
}
.phone_team_number a{
	color: #6B2482;
	 background: linear-gradient(180deg, #6B2482 50%, #8D116C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #6B2482;
}
/*contcats*/
.contacts-item h4{
	text-transform: uppercase;
font-size: 24px;
line-height: 28px;
font-weight: 900;
color: #632786;
}
.contacts-item h4 a{
	color: #632786;
}
.contacts-container .grid-3{
	align-items: start;
}
.contacts-item_icon i{
	margin: 0;
}
.contacts-item{
	display: grid;
	grid-template-columns: 93px 1fr;
	grid-column-gap: 30px;
}
.contacts-item_icon{
	background: #F5F5FD;
border-radius: 9px;
height: 93px;
line-height: 93px;
text-align: center;
color: #632786;
font-size: 24px;
}
.contacts-item_icon.phone-mail{
	font-size: 20px;
}
/*popup*/
.mfp-bg{
	background: rgba(20, 8, 57, 0.74);
	opacity: 1;
}
/**/
.contacts-callback{
	padding:50px;
	background: #F5F5FD; 
}
.contacts-maps-callback .grid-2{
	grid-column-gap: 0;
}
input{
	height: 87px;
	width: 100%;
	background: #140839;
	border-radius: 4px;
	font-size: 24px;
	box-sizing: border-box;
	display: block;
	padding: 0 50px;
	border:none;
	margin-bottom: 20px;
	font-weight: 400; 
	font-family: 'Roboto', sans-serif!important;
	letter-spacing: 0.05em;
	color: #F5F5FD;
}
textarea{
	width: 100%;
	background: #140839;
	border-radius: 4px;
	letter-spacing: 0.05em;
	color: #F5F5FD;
	font-size: 24px;
	box-sizing: border-box;
	padding: 20px 50px;
	border:none;
	margin-bottom: 0;
	font-weight: 400; 
	font-family: 'Roboto', sans-serif!important;
}
::placeholder {
  letter-spacing: 0.05em;
		color: #F5F5FD;
}
form p{
	font-weight: normal;
font-size: 18px;
line-height: 136%;
letter-spacing: 0.05em;
color: rgba(20, 8, 57, 0.5);
margin: 10px 0;
}
form input[type="submit"]{
	background: linear-gradient(91.57deg, #9B0761 -1.34%, #632785 99.47%), #C4C4C4;
border-radius: 39px;
width: auto;
margin: auto;
padding:0 50px;
cursor: pointer; 
height: 62px;
}
form input[type="submit"]:after{
	
	background: linear-gradient(91.57deg, #9B0761 -1.34%, #DF64D6 53.79%, #632785 99.47%), #C4C4C4;
}
.contacts-map{
	background: url(img/maps.png);
	height: 100%;
	width: 100%;

}
/*event*/
.new-event{
	text-align: left;

}
.new-event .hr-grad{
	margin-left: 0;
}
.old-event{
	text-align: right;
	padding-top:0;
}
.old-event .hr-grad{
	margin-right: 0;
}
.event-item-image{
	height: 300px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.event-item-image a{
	background: #F5F5FD;
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	text-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 5;
	opacity:0;
	transition: .5s;
}
.event-item-image a:hover{
	opacity: 1;
}
.event-item-image a span{
	width: 54px;
	height: 54px;
	font-size: 29px;
	line-height: 54px;
	color: #632785;
	border:3px solid #632785;
	border-radius: 50%;
	text-align: center;
	margin: auto;
}
.event-item{
background: #FFFFFF;
box-shadow: 0px 2px 9px rgba(49, 49, 49, 0.13);
border-radius: 15px;
margin:20px; 
}
.event-item-text{
	padding:15px 30px 30px;
}
.event-item-text .title{	
	margin:20px 0; 
	height: 45px;
	overflow: hidden;
}
.event-item-text .title h4{
	font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #000000;
}
.event-item-text .href a{
	padding:8px 35px;
	font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
background: linear-gradient(91.57deg, #9B0761 -1.34%, #632785 99.47%), #C4C4C4;
border-radius: 39px;
box-sizing: border-box;
position: relative;
z-index: 1;
overflow: hidden;
display: inline-block;
width: auto;
}
.event-item-text .href a:after{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: block;
	z-index: -1;
	background: linear-gradient(91.57deg, #9B0761 -1.34%, #DF64D6 53.79%, #632785 99.47%), #C4C4C4;
	opacity: 0;
	transition: .5s;
}
.event-item-text .href a:hover:after{
	opacity: 1;
}

.event-item-text .date{
	font-weight: 300;
font-size: 13px;
line-height: 15px;
color: rgba(0, 0, 0, 0.53);
}
.event-item-text .date i{
	margin-right: 10px;
}
/*.owl-stage-outer{
	padding: 20px;
}*/
.owl-dots{
	text-align: center;
}
.owl-dot{
	height: 13px;
	width: 13px;
	background: rgba(255, 142, 34, 0.5);
	border-radius: 50%;
	display: inline-block;
	margin:5px; 
}
.owl-dot.active{
	background: #FF8E22;
box-shadow: 0px 0px 5px #FF8E22;
}
.afisha_item .event-item-image{
	height: 470px;
}
.single-event{
	padding-top:115px; 
}
.single-event .grid-2{
	grid-template-columns: 1fr 2fr;
	grid-column-gap: 90px;
	align-items:start;
}
.single-event .date{
	font-weight: 300;
font-size: 18px;
color: rgba(0, 0, 0, 0.53);
}
.single-event .date i{
	margin-right: 10px;
}
.single-event h1{
	font-weight: 900;
font-size: 36px;
line-height: 136%;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #262626;
margin: 25px 0;
}
.photo_event{
	background: #FFFFFF;
box-shadow: 0px 0px 26px rgba(114, 114, 114, 0.26);
border-radius: 15px;
}
.photo_event img{
	width: 100%;
	height: auto;
}
.content-event p{
font-weight: normal;
font-size: 24px;
line-height: 136%;
letter-spacing: 0.05em;
color: #6A6A6A;
margin-bottom: 15px;
}

#searchform{
	display: grid;
	grid-template-columns: 1fr 95px;
	align-items: center;
}
#searchform input{
	background: #fff;
	width: 100%;
	display: inline-block;
	height: 85px;
	border-radius: 0;
	margin: 0;
	color: #652484;
}
#searchform input::placeholder {
  letter-spacing: 0.05em;
		color: #652484;
}
#searchform #searchsubmit{
	width: 100%;
	height: 85px;
	display: inline-block;
	border:none;
	color:#fff;
	font-size: 27px;
	text-align: center;
	background: linear-gradient(180deg, #5E2788 0%, #9F035C 100%), #C4C4C4;
	cursor: pointer;
}
#searchform #searchsubmit i{
	margin-right: 0;
}
.mfp-close-btn-in .mfp-close{
	border-radius: 50%;
	top: -40px;
	right: calc(50% - 22px);
	margin: 0;
	color: #fff;
	background: rgba(245, 245, 253, 0.56);
	width: 44px;
	text-align: center;
	padding: 0;
}
#search_popup{
	width: 90%;
	max-width: 950px;
	margin: auto;
}
.mfp-close-btn-in #search_popup  .mfp-close,.mfp-close-btn-in  #mob_menu .mfp-close{
	top: -80px;
}
.docs-priema-container .grid-3{
	align-items: start;
	grid-column-gap: 50px;
}
.docs-priema-container h4{
	font-weight: 900;
font-size: 24px;
line-height: 136%;
text-transform: uppercase;
color: #262626;
}
.docs-priema-container h4 span{
	color: #632786;
	display: block;
}
.docs-priema-text h4{
	margin-bottom: 25px;
}

.docs-priema-text p{
	font-weight: normal;
font-size: 18px;
line-height: 136%;
color: #6A6A6A;
}
.tab{
	padding: 25px 40px;
	margin-bottom: 50px;
	background: #F5F5FD;
box-shadow: 0px 2px 2px rgba(49, 49, 49, 0.13);
border-radius: 15px;
display: block; 
position: relative;
cursor: pointer;
}
.tab:after{
	content: "+";
	display: block;
	position: absolute;
	font-size: 38px;
	font-weight: 300;
	color: #2d2d2d;
	right: 40px;
	top: 50%;
	margin-top: -28px;
}
.tab.active:after{
	content: "—";
}
.gallery_tab{
	display: block;
	overflow: hidden;
	width: 100%;
}
.gallery_tab_image{
	width: 100%;
	height: 495px;
	background-size: cover;
}
.tab_content{
	overflow: hidden;
}
.title_tab{
	background: #F5F5FD;
box-shadow: 0px 2px 9px rgba(49, 49, 49, 0.13);
border-radius: 15px 15px 0 0 ;
padding: 15px; 
text-align: center;
}
.title_tab h5{
	font-weight: 900;
font-size: 18px;
line-height: 136%;
text-transform: uppercase;
color: #262626;
}
.title_tab h5 b{
	color: #632786;
	font-weight: 900;
}
.title_tab h5 span{
	color: #632786;
	display: block;
}
.downloads_docs{
	text-align: center;
	margin-top: 20px;
}
.downloads_docs a{
	padding: 15px 80px; 
font-weight: 500;
font-size: 22px;
line-height: 26px;
color: #FFFFFF;
}
.owl-dots{
	margin-top: 20px;
}
.docs-priema-text, .tabs{
	position: relative;
}
.docs-priema-text:after, .tabs:after{
	content: '';
	height: 400px;
	width: 2px;
	background: url(/wp-content/uploads/2021/01/line.png);
	position: absolute;
	right: -25px;
	top:50px;
}
h4.obshaya {
	margin-bottom: 30px;
}
.left-align{
	text-align: left;

}
.left-align .hr-grad{
	margin-left: 0;
}
.molodej .left-align span{
	font-weight: 400;
	color: #632786;
}
.molodej p{
	margin-bottom: 20px;
	font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 146%;
color: #2B2B2B;
}
.contact_palata{
	background: #FFFFFF;
box-shadow: 0px 3px 16px rgba(119, 25, 119, 0.84);
padding:75px 90px;
margin: 0 -90px 50px;
}
.contact_palata .grid-2{
	grid-template-columns: 2fr 1fr;
}
.contact_palata p{
	font-weight: normal;
font-size: 24px;
line-height: 146%;
color: #2B2B2B;
margin-bottom: 0;
}
.contact_palata h2{
	margin-bottom: 0;
}
.contact_palata h2 a{
	color: #632786;
}
.href_contact_palata{
	text-align: right;
}
.gallery-slider{
	margin-top: 40px;
}
.hr-grad-soc{
	    display: grid;
    grid-template-columns: 170px 1fr;
    align-items: center;
    margin-bottom: 30px;
    grid-column-gap: 30px;
}
.hr-grad-soc .hr-grad{
	margin: 0;
}


.content-single{
	font-weight: normal;
font-size: 24px;
line-height: 136%;
color: #6A6A6A;
}
.content-single p{
	margin-bottom: 15px;
}
.content-single h5{
	font-weight: normal;
font-size: 18px;
line-height: 21px;
color: rgba(0, 0, 0, 0.53);
}
.content-single h3{
	font-weight: 900;
font-size: 36px;
line-height: 136%;
text-transform: uppercase;
color: #632785;
}
.grid-2.single-one{
	grid-template-columns: 1fr 2fr;
	text-align: left;
	grid-column-gap: 100px;
}
.grid-2.single-two{
	grid-template-columns: 2fr 1fr;
	text-align: right;
	grid-column-gap: 100px;
}
.content-single img{
	background: #FFFFFF;
box-shadow: 0px 0px 26px rgba(114, 114, 114, 0.26);
border-radius: 15px;
width: 100%;
height: auto;
}
.info-single h4{
	font-weight: bold;
font-size: 24px;
line-height: 136%;
text-transform: none;
}
.info-single .grid-4{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.info-single .contacts-item{
	align-items: center;
}
.contacts-item_icon i{
color: #6B2482;
    background: linear-gradient(180deg, #A1045B 0%, #622382 100%), #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #6B2482;
}
.scroll-to-top{
	position:fixed;
	right:10%;
	bottom:10%;
	z-index:99999;
	width:40px;
	height:40px;
	background-image:url(/wp-content/uploads/2021/02/group-79.png);
	background-size:cover;
	background-position:center;
	cursor:pointer;
	display:none;
}